
*{
    margin: 0 0;
    padding: 0 0;
    font-family: Arial, Helvetica, sans-serif;
}

/*pick your algorithm container properties*/
.container{
    width: 80%;
    margin: 0 auto;
    padding: 1%;
    border-color: #28363D;

}
.img-responsive{
    width: 100%;
}
.img-curve{
    border-radius: 15px;
}

.text-right{
    text-align: right;
}
.text-center{
    text-align: center;
}
.text-left{
    text-align: left;
}
/*pick your algorithm container text properties*/
.text-white{
    color:#DEE1DD;                                                                                                                             ;
}

.clearfix{
    clear: both;
    float: none;
}
/*menu bar text properties*/
a{
    color: #DEE1DD;
    text-decoration: none;
    font-weight: bold;
}
a:hover{
    color: #6D9197;
}
/*pick your algorithm container size properties*/
.btn{
    padding: 1%;
    border: 2px solid;
    font-size: 1rem;
    border-radius: 5px;
    color:black;
}  
/*search button color properties*/
.btn-primary{

    background-color: #28363D;
    color: #DEE1DD;
    cursor: pointer;
}
/*order now button color properties when hovering*/
.btn-primary:hover{
    color: #28363D;
    background-color: #04f9ed;
}
/*properties for the page title e.g"Pick your Algorithm"*/
h2{
    color:  #DEE1DD;
    font-size: 2rem;
    margin-bottom: 2%;
}
/*font size for container "Breakfasr, Lunch, and Dinner"*/
h3{
    font-size: 1.7em;
}
.float-container{
    position: relative;
}
.float-text{
    position: absolute;
    bottom: 50px;
    left: 40%;
}
fieldset{
    border: 1 px solid #DEE1DD;
    margin: 1%;
    padding: 3%;
    border-radius: 5px;
    
}
/*main website bg color*/
body {
    
    background-color: black;
    
}

/* CSSS for navbar section */

.logo{
    width: 10%;
    float: left;
}
.menu{
    line-height: 60px;
}
.menu ul{
    list-style-type: none;
}

.menu ul li{
    display: inline;
    padding: 1%;
    font-weight: bold;

}


/* CSS for Food Search Section */

.food-search{
    background-color: #28363D;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    padding: 7% 0;
}

.food-search input[type="search"]{
    width: 50%;
    padding: 1%;
    font-size: 1rem;
    border: 2px;
    border-radius: 5px;
}




/* CSS for Categories */
.categories{
    padding: 4% 0;
    color: white;
    
}

.box-3{
    width: 28%;
    float: left;
    margin: 2%;
}


/* CSS for Food Menu */
.food-menu{
    background-color: #2F575D;     
    padding: 4% 0;

    
}

.menu-container {
    background-color: #658B6F; 
    padding: 20px; /* Adds space inside the container */
    border-radius: 10px; /* Rounded corners for a polished look */
    margin-bottom: 20px; /* Adds spacing below the container */
    overflow: hidden; /* Ensures the content inside is fully contained */

}

.food-menu-box{
    width: 43%;
    margin: 1%;
    padding: 2%;
    float: left;
    background-color: #DEE1DD;
    border-radius: 15px;
}

.food-menu-img{
    width: 20%;
    float: left;
}

.food-menu-desc{
    width: 70%;
    font-size: 1.5rem;
    float: left;
    margin-left: 8%;
    color: #658B6F;
}

.food-price{
    font-size: 1.2rem;
    margin: 2% 0;
    color: #f19f06;
    font-weight: bold;
}
.food-detail{
    font-size: 1.2rem;
    color: #99AEAD,                                                                          
}


/* CSS for Social */
.social ul{
    list-style-type: none;
    
}
.social ul li{
    display: inline;
    padding: 1%;
}

/* for Order Section */
.order{
    width: 50%;
    margin: 0 auto;
}
.input-responsive{
    width: 96%;
    padding: 1%;
    margin-bottom: 3%;
    border: none;
    border-radius: 5px;
    font-size: 1rem;
}
.order-label{
    margin-bottom: 1%; 
    font-weight: bold;
}



/* CSS for Mobile Size or Smaller Screen */

@media only screen and (max-width:768px){
    .logo{
        width: 80%;
        float: none;
        margin: 1% auto;
    }

    .menu ul{
        text-align: center;
    }

    .food-search input[type="search"]{
        width: 90%;
        padding: 2%;
        margin-bottom: 3%;
    }

    .btn{
        width: 91%;
        padding: 2%;
    }

    .food-search{
        padding: 10% 0;
    }

    .categories{
        padding: 20% 0;
    }
    h2{
        margin-bottom: 10%;
    }
    .box-3{
        width: 100%;
        margin: 4% auto;
    }

    .food-menu{
        padding: 20% 0;
    }

    .food-menu-box{
        width: 90%;
        padding: 5%;
        margin-bottom: 5%;
    }
    .social{
        padding: 5% 0;
    }
    .order{
        width: 100%;
    }


}

.cart
{
    position: relative; 
    display: inline-block;
 
}

.cart span
{
    display: flex;
    width: 22px;
    height: 22px;
    background-color: red;
    justify-content: center;
    align-items: center;
    color: white;
    border-radius: 50%;
    position: absolute;
    top: 15%; 
    right: -20px; 

}
.myCart
{
    background-color:  green;
    color:white;
    width:400px;
    inset: 0 -400px 0 auto; 
    grid-template-rows: 70px 1fr 70px ;
    display: grid;
    position: fixed;
    transition: transform .5s;
}

.myCart h1
{
    padding:20px; 
    margin:0;
    font-weight: 300;
}

.myCart .btnCart
{
    display: grid; 
    grid-template-columns: repeat(2, 1fr);

}

.myCart .btnCart button
{
    background-color:  #E8BC0E; 
    border: none; 
    font-family: Arial, Helvetica, sans-serif;
    font-weight: 500;
    cursor: pointer;
}

.myCart .btnCart .close
{
    background-color: white; 
}

.myCart .cartList .item img
{
    width: 100x;
    height: 75px;  
    padding-left: 10%;
    padding-top: 5%;
}

.myCart .cartList .item
{
    display:grid; 
    grid-template-columns: 70px 150px 50px 1fr;
    gap: 10px; 
    text-align: center;
    align-items: center;
}

.cartList .quantity span
{
    display: inline-block;
    width:20px; 
    height: 20px;
    background-color: white;
    color: black; 
    border-radius: 50%;
    cursor: pointer; 
}

.cartList .quantity span:nth-child(2)
{
    background-color: transparent;
    color:black;
}

.cartList .item:nth-child(even)
{
background-color: greenyellow;
}

.cartList
{
    overflow: auto; 

}

body.showCart .myCart
{
    inset:0 0 0 auto; 
}

body.showCart .container
{
    transform: translateX(-250px); 
}
