*{
    margin: 0 0;
    padding: 0 0;
    font-family: Arial, Helvetica, sans-serif;
}

/*pick your algorithm container properties*/
.container{
    width: 80%;
    margin: 0 auto;
    padding: 1%;
    border-color: #28363D;

}
.img-responsive{
    width: 100%;
}
.img-curve{
    border-radius: 15px;
}

.text-right{
    text-align: right;
}
.text-center{
    text-align: center;
}
.text-left{
    text-align: left;
}
/*pick your algorithm container text properties*/
.text-white{
    color:#DEE1DD;
}

.clearfix{
    clear: both;
    float: none;
}
/*menu bar text properties*/
a{
    color: #DEE1DD;
    text-decoration: none;
    font-weight: bold;
}
a:hover{
    color: #6D9197;
}
/*pick your algorithm container size properties*/
.btn{
    padding: 1%;
    border: 2px solid;
    font-size: 1rem;
    border-radius: 5px;
    color:black;
}  
/*search button color properties*/
.btn-primary{

    background-color: #28363D;
    color: #DEE1DD;
    cursor: pointer;
}

/*add to cart button*/
.add-to-cart{
    padding: 1%;
    border: 2px solid;
    font-size: 1rem;
    border-radius: 5px;
    color:black;
    background-color: #28363D;
    color: #DEE1DD;
    cursor: pointer;
}

.add-to-cart:hover{
    color: #28363D;
    background-color: #04f9ed;
}

/*order now button color properties when hovering*/
.btn-primary:hover{
    color: #28363D;
    background-color: #04f9ed;
}
/*properties for the page title e.g"Pick your Algorithm"*/
h2{
    color:  #DEE1DD;
    font-size: 2rem;
    margin-bottom: 2%;
}
/*font size for container "Breakfasr, Lunch, and Dinner"*/
h3{
    font-size: 1.7em;
}
.float-container{
    position: relative;
}
.float-text{
    position: absolute;
    bottom: 50px;
    left: 40%;
}
fieldset{
    border: 1 px solid #DEE1DD;
    margin: 1%;
    padding: 3%;
    border-radius: 5px;
    
}
/*main website bg color*/
body {
    
    background-color: black;
    
}


/******************************************************/
/* CSSS for navbar section */
/******************************************************/

.logo{
    width: 10%;
    float: left;
}
.menu{
    line-height: 60px;
}
.menu ul{
    list-style-type: none;
}

.menu ul li{
    display: inline;
    padding: 1%;
    font-weight: bold;

}


/******************************************************/
/* CSS for Contact page section */
/******************************************************/
.contact-container{
    height:100vh;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
}
.contact-left{
    display: flex;
    flex-direction: column;
    align-items: start;
    gap: 20px;
}
.contact-left-title h2{
    font-weight: 600;
    color: #f19f06;
    font-size: 40px;
    margin-bottom: 5px;
}
.contact-left-title hr{
    border: none;
    width: 120px;
    height: 5px;
    background-color: #6D9197;
    border-radius: 10px;
    margin-bottom: 20px;
}
.contact-inputs{
    width: 400px;
    height: 50px;
    border: none;
    outline: none;
    padding-left: 25px;
    font-weight: 500;
    color: #6D9197;
    border-radius: 50px;
}
.contact-left textarea{
    height: 140px;
    padding-top: 15px;
    border-radius: 20px;
}
.contact-inputs:focus{
    border: 2px solid #f19f06;
}
.contact-inputs::placeholder{
    color: #a9a9a9;
}
.contact-left button{
    display: flex;
    align-items: center;
    padding: 15px 30px;
    font-size: 16px;
    color: #fff;
    gap: 10px;
    border: none;
    border-radius: 50px;
    background: linear-gradient(270deg, #ebc784, #1b363b);
    cursor: pointer;
}
.contact-left button img{
    height: 15px
}
.contact-right img{
    width: 500px;
}
@media (max-width:800px){
    .contact-inputs{
        width: 80vw;
    }
    .contact-right{
        display: none;
    }

}
 

/******************************************************/
/* CSS for Food Search Section */
/******************************************************/

.food-search{
    background-color: #28363D;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    padding: 7% 0;
}

.food-search input[type="search"]{
    width: 50%;
    padding: 1%;
    font-size: 1rem;
    border: 2px;
    border-radius: 5px;
}



/******************************************************/
/* CSS for Categories */
/******************************************************/
.categories{
    padding: 4% 0;
    color: white;
    
}

.box-3{
    width: 28%;
    float: left;
    margin: 2%;
}


/******************************************************/
/* CSS for Food Menu */
/******************************************************/
.food-menu{
    background-color: black;     
    padding: 4% 0;

    
}

.menu-container {
    background-image: url(images/woodBackground.png); 
    background-size: cover;
    padding: 20px; /* Adds space inside the container */
    border-radius: 10px; /* Rounded corners for a polished look */
    margin-bottom: 20px; /* Adds spacing below the container */
    overflow: hidden; /* Ensures the content inside is fully contained */
}

.food-menu-box{
    width: 43%;
    margin: 1%;
    padding: 2%;
    float: left;
    background-color: #DEE1DD;
    border-radius: 15px;
}

.food-menu-cart{
    width: 41%;
    margin: 1%;
    padding: 2%;
    float: center;
    background-color: #DEE1DD;
    border-radius: 15px;
}
.food-menu-img{
    width: 20%;
    float: left;
}

.food-menu-desc{
    width: 70%;
    font-size: 1.5rem;
    float: left;
    margin-left: 8%;
    color: #658B6F;
}

.item{  color: #658B6F;}

.food-price{
    font-size: 1.2rem;
    margin: 2% 0;
    color: #f19f06;
    font-weight: bold;
}
.food-detail{
    font-size: 1.2rem;
    color: #99AEAD,                                                                          
}


/******************************************************/
/* CSS for Social */
/******************************************************/
.social ul{
    list-style-type: none;
    
}
.social ul li{
    display: inline;
    padding: 1%;
}

/******************************************************/
/* for Order Section */
/******************************************************/
.order{
    width: 50%;
    margin: 0 auto;
}
.input-responsive{
    width: 96%;
    padding: 1%;
    margin-bottom: 3%;
    border: none;
    border-radius: 5px;
    font-size: 1rem;
}
.order-label{
    margin-bottom: 1%; 
    font-weight: bold;
}


/******************************************************/
/*CSS for Cart page*/
/******************************************************/
.cart-icon
{
    position: relative; 
    display: inline-block;
}

.cart-icon span
{
    display: flex;
    width: 22px;
    height: 22px;
    background-color: red;
    justify-content: center;
    align-items: center;
    color: white;
    border-radius: 50%;
    position: absolute;
    top: 15%; 
    right: -20px; 
}

.cart-items table {
    width: 100%;
    border-collapse: collapse;
}

.cart-items th,.cart-items td {
    padding: 10px;
    text-align: center;
    
}
.cart-items th{
    color: #a9a9a9;
    
}
.cart-items thead{
    border-radius: 50px;
    background-color: white;
}

.table_bottom
{
    display: flex; 
    justify-content: space-between;
    align-items: center;
    padding: 2rem;
    margin: 1rem 0 3rem 0 ;
}

.quantity_box
{
    display:flex; 
    justify-content: space-between;
    align-items: center;
}
.quantity_box input
{
    width: 40%; 
    padding: 0.5rem; 
}
.update_quantity
{
    padding: 0.5rem; 
    margin: 1rem 0; 
}


.cart-items
{
    display: flex; 
    flex-direction: column; 
    gap: 10px; 
    margin-top: 1rem;
    justify-content: space-between;
    padding: 10px 5px;
    border-radius: 5px;
    color: #2F575D;
    border: none; 
}

.food-menu-box-cart thead{
    width: 400px;
    height: 50px;
    border: none;
    outline: none;
    padding-left: 25px;
    font-weight: 500;
    color: #6D9197;
    border-radius: 50px;
}

.total--amount
{
    display: flex;
    align-items: center;
    justify-content: space-between;
    border: 2px solid grey; 
    border-radius: 5px; 
    padding: 15px 10px; 
}
.cart-total
{
    font-size:16px;
    color: white;
    font-weight: 500;
}

.cart-items-price 
{
    color: white; 
}

.checkout-btn
{
    width: 100%; 
    margin-top: 2rem;
    background: green; 
    color: white; 
    cursor: pointer; 
    border-radius: 5px;
    padding:10px; 
}


.display_message {
    padding: 15px;
    margin: 10px 0;
    border-radius: 5px;
    background-color: white;
    font-size: 16px;
    font-weight: bold;
    text-align: center;
    display: block; /* Ensure it is not set to 'none' */
}


/******************************************************/
/* CSS for Mobile Size or Smaller Screen */
/******************************************************/
@media only screen and (max-width:768px){
    .logo{
        width: 80%;
        float: none;
        margin: 1% auto;
    }

    .menu ul{
        text-align: center;
    }

    .food-search input[type="search"]{
        width: 90%;
        padding: 2%;
        margin-bottom: 3%;
    }

    .btn{
        width: 91%;
        padding: 2%;
    }

    .food-search{
        padding: 10% 0;
    }

    .categories{
        padding: 20% 0;
    }
    h2{
        margin-bottom: 10%;
    }
    .box-3{
        width: 100%;
        margin: 4% auto;
    }

    .food-menu{
        padding: 20% 0;
    }

    .food-menu-box{
        width: 90%;
        padding: 5%;
        margin-bottom: 5%;
    }
    .social{
        padding: 5% 0;
    }
    .order{
        width: 100%;
    }
}
